/*****************************************************************************************/

#fbFirePythonMenu {
    list-style-image: url(chrome://firepython/skin/icon16.png);
    -moz-opacity: 0.8;
}

#fbFirePythonMenu:hover,
#fbFirePythonMenu[open="true"] {
    list-style-image: url(chrome://firepython/skin/hover-icon16.png);
    -moz-opacity: 1.0;
}

#fbFirePythonMenu > .toolbarbutton-text,
#fbFirePythonMenu > .toolbarbutton-menu-dropmarker {
    display: none;
}

#fbFirePythonFilterDebugButton {
    -moz-image-region: rect(auto,auto,auto,auto) !important;
}

#fbFirePythonFilters {
    padding-left: 20px;
}

#fbFirePythonFilterDebugButton { list-style-image: url(chrome://firepython/skin/icon-log-debug.png); }
#fbFirePythonFilterDebugButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-debug.png); }
#fbFirePythonFilterDebugButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-debug.png); }
#fbFirePythonFilterDebugButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-debug.png); }

#fbFirePythonFilterInfoButton { list-style-image: url(chrome://firepython/skin/icon-log-info.png); }
#fbFirePythonFilterInfoButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-info.png); }
#fbFirePythonFilterInfoButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-info.png); }
#fbFirePythonFilterInfoButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-info.png); }

#fbFirePythonFilterErrorButton { list-style-image: url(chrome://firepython/skin/icon-log-error.png); }
#fbFirePythonFilterErrorButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-error.png); }
#fbFirePythonFilterErrorButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-error.png); }
#fbFirePythonFilterErrorButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-error.png); }

#fbFirePythonFilterWarningButton { list-style-image: url(chrome://firepython/skin/icon-log-warning.png); }
#fbFirePythonFilterWarningButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-warning.png); }
#fbFirePythonFilterWarningButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-warning.png); }
#fbFirePythonFilterWarningButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-warning.png); }

#fbFirePythonFilterCriticalButton { list-style-image: url(chrome://firepython/skin/icon-log-critical.png); }
#fbFirePythonFilterCriticalButton:hover { list-style-image: url(chrome://firepython/skin/hover-icon-log-critical.png); }
#fbFirePythonFilterCriticalButton[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-icon-log-critical.png); }
#fbFirePythonFilterCriticalButton:hover[checkState="0"] { list-style-image: url(chrome://firepython/skin/disabled-hover-icon-log-critical.png); }

.filter-debug .firepython-rec.subkind-log-debug { display: none !important; }
.filter-info .firepython-rec.subkind-log-info { display: none !important; }
.filter-warning .firepython-rec.subkind-log-warning { display: none !important; }
.filter-error .firepython-rec.subkind-log-error { display: none !important; }
.filter-critical .firepython-rec.subkind-log-critical { display: none !important; }

.firepython-rec {
    position: relative;
    border-bottom: 1px solid #D7D7D7;
    padding: 1px 0 2px 0;
    color: #000;
}

.panelNode.searching .firepython-rec {
    display: none;
}

.firepython-rec.matched {
    display: block !important;
    background-color: #FFFBBC;
}

.rec-args {
    font-size: 80%;
    margin-left: 10px;
}

.toolbar-text-button > .toolbarbutton-icon {
    display: block !important;
    background: transparent !important;
}

.firepython-rec > .rec-head {
    background-position: 2px 2px;
}

.firepython-rec > .rec-head.closed {
    background-image: url(twistyClosed.png);
    background-repeat: no-repeat;
}

.firepython-rec > .rec-head.expanded {
    background-image: url(twistyOpen.png);
    background-repeat: no-repeat;
}

.firepython-rec > .rec-head {
    padding-left: 18px;
    background-position: 3px 3px;
}

.firepython-rec:hover {
    background-color: #eee;
}

.firepython-rec {
    cursor: default;
}

.firepython-rec,
.firepython-rec .objectLink-sourceLink {
    background-image: url('group.gif');
    background-repeat: no-repeat;
}

.firepython-rec.expanded {
    padding-bottom: 4px;
    border-bottom: none;
}

.rec-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    position: absolute;
    background-position: top left;
    background-repeat: no-repeat;
}

.rec-date {
    font-family: Tahoma;
    font-size: 8pt;
    color: gray;
    font-weight: normal;
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
}

.rec-uri {
    margin-left: 94px;
}

.rec-date:hover {
    color: black;
}

.rec-info {
    padding-left: 6px;
    font-family: Tahoma;
    font-size: 8pt;
    color: black;
    font-weight: normal;
    padding-left: 100px;
}

.firepython-rec > .rec-head.log-debug > .rec-icon {
    background-image: url(icon-log-debug.png);
}
.firepython-rec > .rec-head.log-info > .rec-icon {
    background-image: url(icon-log-info.png);
}
.firepython-rec > .rec-head.log-warning > .rec-icon {
    background-image: url(icon-log-warning.png);
}
.firepython-rec > .rec-head.log-error > .rec-icon {
    background-image: url(icon-log-error.png);
}
.firepython-rec > .rec-head.log-critical > .rec-icon {
    background-image: url(icon-log-critical.png);
}
.firepython-rec > .rec-head.error > .rec-icon {
    background-image: url(icon-error.png);
}
.firepython-rec > .rec-head.info > .rec-icon {
    background-image: url(icon-info.png);
}
.firepython-rec > .rec-head.warning > .rec-icon {
    background-image: url(icon-warning.png);
}
.firepython-rec > .rec-head.lightbulb > .rec-icon {
    background-image: url(icon-lightbulb.png);
}

.firepython-rec > .rec-head > .rec-details {
    display: none;
}

.firepython-rec > .rec-head.expanded > .rec-details {
    margin-top: 10px;
    display: block;
}

.twisty {
    background-position: 2px 0;
}
